<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-841">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/logo2.png" alt="logo" width="240" height="32">
            </a>
            <p class="cs-text">
              At Enigma Digital, we are dedicated to empowering your digital success. With our handcrafted web design, SEO, and tailored solutions, we're committed to helping your business thrive in the dynamic digital landscape.
            </p>
            <div class="cs-social">
                <a class="cs-social-link" aria-label="visit facebook profile" href="https://www.facebook.com/profile.php?id=61550686035800">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fface-white1.svg" alt="facebook" width="11" height="11">
                </a>
                <a class="cs-social-link" aria-label="visit twitter profile" href="https://twitter.com/Enigma__Digital">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ftwit-white1.svg" alt="twitter" width="6" height="11">
                </a>
                <a class="cs-social-link" aria-label="visit instagram profile" href="https://www.instagram.com/enigma__digital/">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Finsta-white1.svg" alt="instagram" width="11" height="11">
                </a>
            </div>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Quick Links</span>
            <ul class="cs-ul cs-ul-1">
                <li class="cs-li">
                    <a class="cs-link" href="/">Home</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/about/">About</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/Web-Design/">Web Design</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/SEO/">SEO</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/Contact/">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <span class="cs-header">Contact Information</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="https://www.google.com/search?q=enigma+digital&oq=enigma+digital&aqs=chrome.0.69i59j35i39j69i59j35i39j0i512l2j69i60l2.2646j0j7&sourceid=chrome&ie=UTF-8#lrd=0x882b472b4ae4a851:0x3d1161a755bf3a78,1,,,," target="_blank">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fclock3-grey.svg" alt="clock icon" width="20" height="20">
                        M-F 8am – 5:30pm
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="tel:647-784-3943">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fphone3-grey.svg" alt="phone icon" width="20" height="20">
                        647-784-3943
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="mailto:ameen.m@enigmadigital.ca">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Femail3-grey.svg" alt="email icon" width="20" height="20">
                        ameen.m@enigmadigital.ca
                    </a>
                </li>
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="https://www.google.com/search?q=enigma+digital&oq=enigma+digital&aqs=chrome.0.69i59j35i39j69i59j35i39j0i512l2j69i60l2.2646j0j7&sourceid=chrome&ie=UTF-8#lrd=0x882b472b4ae4a851:0x3d1161a755bf3a78,1,,,," target="_blank">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpin3-grey.svg" alt="pin icon" width="20" height="20">
                        Toronto, On
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2023 <a href="/" class="cs-credit-link" target="_blank">Enigma Digital</a>
        </span>
    </div>
</footer>