---
title: 'Booking'
description: "Schedule your consultation or appointment with Enigma Digital today. Our team of experts is ready to discuss your web design, SEO, or digital marketing needs. Book now to embark on your journey to digital success with Toronto's trusted agency."
permalink: '/booking/'
eleventyNavigation:
  key: Booking
  order: 800
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/booking.css">
{% endblock %}

{% block body %}

<div class="Calender">
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/strategycall-web/40min?primary_color=e5572c" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

</div>


{% endblock %}