---
title: 'Contact'
description: "Get in touch with Enigma Digital - your partner in digital success. Contact us for inquiries, collaborations, or to discuss your web design, SEO, or digital marketing project. We're here to assist you in unlocking your online potential. Reach out today!"
preloadImg: '/assets/images/cabinets2.jpg'
permalink: '/Contact/'
eleventyNavigation:
    key: Contact
    order: 600
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/contact.css">
{% endblock %}

{% block body %}    
    
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-568">
    <div class="cs-container">
        <div class="cs-left">
            <div class="cs-content">
                <span class="cs-topper">Contact Us</span>
                <h2 class="cs-title">Get In Touch</h2>
                <p class="cs-text">
                    Pellentesque sit amet porttitor eget dolor morbi non arcu. Vitae justo eget magna fermentum iaculis eu non
                </p>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-568" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-568" name="name" placeholder="Name">
                </label>
                <label class="cs-label">
                    Phone
                    <input class="cs-input" required type="text" id="phone-568" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Email
                    <input class="cs-input" required type="text" id="email-568" name="email" placeholder="Email">
                </label>
                <label class="cs-label">
                    How did you hear about us?
                    <input class="cs-input" required type="text" id="hear-568" name="heat" placeholder="How did you hear about us?">
                </label>
                <label class="cs-label cs-message">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-568" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-submit" type="submit">Send Message</button>
            </form>
        </div>
        <div class="cs-right">
            <!--Address-->
            <span class="cs-header">Address</span>
            <a href="" class="cs-link">Toronto, Ontario<br> Canada</a>
            <!--Email-->
            <span class="cs-header">Email</span>
            <a href="" class="cs-link">ameen.m@enigmadigital.ca</a>
            <!--Phone-->
            <span class="cs-header">Phone</span>
            <a href="tel:647-784-3943" class="cs-link cs-phone">647-784-3943</a>
            <!--Social-->
            <ul class="cs-social">
                <li class="cs-li">
                    <a class="cs-social-link" href="" aria-label="visit facebook">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/facebook4.svg" alt="icon" width="13" height="26" decoding="async" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-social-link" href="" aria-label="visit instagram">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/instagram4.svg" alt="icon" width="23" height="23" decoding="async" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-social-link" href="" aria-label="visit twitter">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/twitter4.svg" alt="icon" width="26" height="21" decoding="async" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-social-link" href="" aria-label="visit whatsapp">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/whatsapp.svg" alt="icon" width="23" height="23" decoding="async" aria-hidden="true">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
                                

{% endblock %}