/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #banner-310 {
        /* 144px - 252px */
        padding-top: clamp(9rem, 25vw, 15.75rem);
        /* 80px - 140px */
        padding-bottom: clamp(5rem, 13vw, 8.75rem);
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    
        .cs-int-title {
            /* 39px - 49px */
            font-size: clamp(2.4375rem, 4.5vw, 3.0625rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: center;
            max-width: calc(700 / 16 * 1rem);
            margin: 0 auto calc(12 / 16 * 1rem);
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-breadcrumbs {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-link {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColorWhite);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                /* chevron - added as pseudo to make adding and removing them easier */
                content: '';
                width: calc(7 / 16 * 1rem);
                height: calc(12 / 16 * 1rem);
                margin-left: calc(12 / 16 * 1rem);
                margin-right: calc(12 / 16 * 1rem);
                background: url("https://csimg.nyc3.digitaloceanspaces.com/Banners/chevron-right.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

            &.cs-active {
                color: var(--primaryLight);
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;

            &:before {
                /* black overlay box */
                content: '';
                width: 100%;
                height: 100%;
                background: #000;
                opacity: .72;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

}

/* remove the :root, body font family, cs-topper, cs-title, cs-text, and cs-button-solid and place them in your global stylesheet.  That way they will style EVERY instance of these elements on your site and make edits a lot faster and easier.  This also helps us to not repeat ourselves. All these styles are exactly the same for every stitch in the library, so instead of repeating them on every single stitch and having to edit every single one to change them, we extract them from the css and add them to the global stylesheet to be loaded on every page in the site. */





.cs-topper {
	font-size: var(--topperFontSize);
	line-height: 1.2em;
	font-weight: 700;
	text-align: inherit;
	margin-bottom: (4/16* 1rem);
	color: var(--primary);
	text-transform: uppercase;
	letter-spacing: 0.1em;
	display: block;
}

.cs-title {
	font-size: var(--headerFontSize);
	line-height: 1.2em;
	font-weight: 900;
	text-align: inherit;
	max-width: (700/16* 1rem);
	margin: 0 0 (16/16* 1rem) 0;
	color: var(--headerColor);
	position: relative;
}

.cs-text {
	font-size: var(--bodyFontSize);
	line-height: 1.5em;
	text-align: inherit;
	max-width: (650/16* 1rem);
	width: 100%;
	margin: 0;
	color: var(--bodyTextColor);
}

.cs-button-solid {
	font-size: calc(16 / 16 * 1rem);
	/* 46px - 56px */
	line-height: clamp(2.875rem, 5.5vw, 3.5rem);
	font-weight: 700;
	text-align: center;
	min-width: calc(150 / 16 * 1rem);
	margin: 0;
	/* prevents padding from adding to the width */
	box-sizing: border-box;
	padding: 0 calc(24 / 16 * 1rem);
	color: #fff;
	background-color: var(--primary);
	border-radius: calc(4 / 16 * 1rem);
	text-decoration: none;
	display: inline-block;
	position: relative;
	z-index: 1;

	&:before {
		content: "";
		width: 0%;
		height: 100%;
		background: #000;
		opacity: 1;
		border-radius: calc(4 / 16 * 1rem);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: width 0.3s;
	}

	&:hover {
		&:before {
			width: 100%;
		}
	}
}

/* ^^^ remove everything above this comment and place in global stylesheet ^^^ */

/*-- -------------------------- -->
        <---          Banner            -->
        <--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#Aboutbanner-328 {
		/* 144px - 252px */
		padding-top: clamp(9rem, 25vw, 15.75rem);
		/* 80px - 140px */
		padding-bottom: clamp(5rem, 13vw, 8.75rem);
		position: relative;
		z-index: 1;

		.cs-container {
			max-width: calc(1280 / 16 * 1rem);
			width: 100%;
			margin: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.cs-int-title {
			/* 39px - 49px */
			font-size: clamp(2.4375rem, 4.5vw, 3.0625rem);
			line-height: 1.2em;
			font-weight: 900;
			text-align: center;
			max-width: calc(700 / 16 * 1rem);
			margin: 0 auto calc(12 / 16 * 1rem);
			color: var(--bodyTextColorWhite);
			position: relative;
		}

		.cs-breadcrumbs {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.cs-link {
			/* 14px - 16px */
			font-size: clamp(0.875rem, 1.5vw, 1rem);
			line-height: 1.2em;
			color: var(--bodyTextColorWhite);
			text-decoration: none;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			&:hover {
				text-decoration: underline;
			}

			&:last-of-type {
				/* remove the chevron on the last list item */
				&::after {
					display: none;
				}
			}

			&:after {
				/* chevron - added as pseudo to make adding and removing them easier */
				content: "";
				width: calc(7 / 16 * 1rem);
				height: calc(12 / 16 * 1rem);
				margin-right: calc(12 / 16 * 1rem);
				margin-left: calc(12 / 16 * 1rem);
				background: url("https://csimg.nyc3.digitaloceanspaces.com/Banners/chevron-right.svg");
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}

			&.cs-active {
				color: var(--primaryLight);
			}
		}

		.cs-background {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;

			&:before {
				/* black overlay box */
				content: "";
				width: 100%;
				height: 100%;
				background: #000;
				opacity: 0.72;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}

/*-- -------------------------- -->
        <---       Side By Side         -->
        <--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#ABoutRPsbs-328,
	#AboutRPsbsr-328 {
		padding: var(--sectionPadding);

		.cs-container {
			max-width: calc(1280 / 16 * 1rem);
			width: 100%;
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}

		.cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: left;
			max-width: calc(542 / 16 * 1rem);
			width: 100%;
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: flex-start;
		}

		.cs-text {
			margin-bottom: calc(16 / 16 * 1rem);
			&:last-of-type {
				margin-bottom: calc(32 / 16 * 1rem);
			}
		}

		.cs-quote {
			margin: 0 0 calc(32 / 16 * 1rem) 0;
			/* 16px - 32px */
			padding: clamp(1rem, 3vw, 2rem);
			background-color: #f7f7f7;
			border-radius: calc(16 / 16 * 1rem);
			position: relative;
		}

		.cs-quote-text {
			/* 14px - 16px */
			font-size: clamp(0.875rem, 1.5vw, 1rem);
			line-height: 1.5em;
			margin: 0 0 calc(16 / 16 * 1rem);
			color: #767676;
			display: block;
		}

		.cs-name {
			font-size: calc(16 / 16 * 1rem);
			line-height: 1.2em;
			font-weight: bold;
			margin: 0 0 calc(4 / 16 * 1rem);
			color: var(--headerColor);
			text-transform: uppercase;
			display: block;
		}

		.cs-job {
			font-size: calc(14 / 16 * 1rem);
			line-height: 1.5em;
			color: #767676;
			display: block;
		}

		.cs-quote-icon {
			/* 60px - 136px */
			width: clamp(3.75rem, 10vw, 8.5rem);
			height: auto;
			position: absolute;
			/* 16px - 32px */
			right: clamp(1rem, 4vw, 2rem);
			bottom: 0;
		}

		.cs-picture {
			border-radius: calc(24 / 16 * 1em);
			display: block;
			position: absolute;
			/* clips img tag corners */
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				/* makes image act like a background image */
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.cs-picture1 {
			width: calc(522 / 16 * 1em);
			height: calc(581 / 16 * 1em);
			top: 0;
			left: 0;
		}

		.cs-picture2 {
			width: calc(414 / 16 * 1em);
			height: calc(400 / 16 * 1em);
			background-color: #fff;
			/* 6px - 12px */
			border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
			right: 0;
			bottom: 0;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
		}
	}
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#ABoutRPsbs-328,
	#AboutRPsbsr-328 {
		.cs-container {
			flex-flow: row;
			justify-content: space-between;
			gap: calc(52 / 16 * 1rem);
		}

		.cs-image-group {
			font-size: min(1.2vw, 1em);
			flex: none;
		}

		.cs-content {
			margin: 0;
		}
	}
}

/*-- -------------------------- -->
        <---    Side By Side Reverse    -->
        <--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#AboutRPsbsr-328 {
		background-color: #f7f7f7;
		.cs-picture1 {
			right: 0;
			left: auto;
		}

		.cs-picture2 {
			right: auto;
			left: 0;
		}

		.cs-quote {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#AboutRPsbsr-328 {
		.cs-image-group {
			/* sends it to the right in the 2nd position */
			order: 2;
		}
	}
}

/*-- -------------------------- -->
        <---           Stats            -->
        <--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#contact-strip-325-328 {
		padding: var(--sectionPadding);
		background-color: #1a1a1a;

		.cs-stat-group {
			/* changes to 1280px at desktop */
			max-width: calc(600 / 16 * 1rem);
			width: 100%;
			margin: auto;
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: calc(40 / 16 * 1rem);
		}

		.cs-item {
			list-style: none;
			width: calc(290 / 16 * 1rem);
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			&:hover {
				.cs-picture {
					background-color: #fff;
					transform: scale(1.05);
					box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
				}
			}
		}

		.cs-picture {
			width: calc(80 / 16 * 1rem);
			height: calc(80 / 16 * 1rem);
			/* 12px - 20px */
			margin-right: clamp(0.75rem, 3vw, 1.25rem);
			border: 1px solid var(--secondaryLight);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: background-color 0.3s, box-shadow 0.3s, transform 0.6s;
			/* prevents flexbox from squishing it */
			flex: none;
		}

		.cs-flex-group {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}

		.cs-icon {
			width: 33/16rem;
			height: auto;
		}

		.cs-header {
			font-size: calc(20 / 16 * 1rem);
			line-height: 1.2em;
			font-weight: 900;
			margin: 0;
			margin-bottom: calc(12 / 16 * 1rem);
			color: var(--bodyTextColorWhite);
			display: block;
		}

		.cs-link,
		.cs-hours {
			font-size: var(--bodyFontSize);
			line-height: 1.5em;
			color: #828282;
			text-decoration: none;
			display: block;
			transition: color .3s;
		}

		.cs-link {
			&:hover {
				color: var(--primary);
			}
		}
	}
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
	#contact-strip-325-328 {
		.cs-stat-group {
			flex-direction: row;
			flex-wrap: wrap;
			column-gap: calc(20 / 16 * 1rem);
			row-gap: calc(32 / 16 * 1rem);
		}
	}
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#contact-strip-325-328 {
		.cs-stat-group {
			max-width: calc(1280 / 16 * 1rem);
			justify-content: space-evenly;
			flex-wrap: nowrap;
		}
	}
}

/*-- -------------------------- -->
        <---       Side By Side         -->
        <--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#Aboutsbs-328 {
		padding: var(--sectionPadding);
		background-color: #f7f7f7;

		.cs-container {
			/* changes to 1280px at desktop */
			max-width: calc(550 / 16 * 1rem);
			width: 100%;
			margin: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}

		.cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: center;
			width: 100%;
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: center;
		}

		.cs-text {
			margin-bottom: calc(16 / 16 * 1rem);
			&:last-of-type {
				margin-bottom: calc(32 / 16 * 1rem);
			}
		}

		.cs-circles {
			/* changes at desktop */
			max-width: calc(374 / 16 * 1rem);
			width: 100%;
			margin: auto;
			/* 40px - 48px */
			margin-top: clamp(2.5rem, 3vw, 3rem);
			display: flex;
			align-items: flex-start;
			gap: calc(20 / 16 * 1rem);
		}

		.cs-circle {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			flex: 1;
			aspect-ratio: 1;
		}

		.cs-ring-wrapper {
			margin: 0 0 calc(8 / 16 * 1rem) 0;
			position: relative;
		}

		.cs-number {
			/* 20px - 39px */
			font-size: clamp(1.25rem, 3vw, 2.4375rem);
			line-height: 1.2em;
			font-weight: 900;
			color: var(--headerColor);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			/* prevents mouse from interacting with it */
			pointer-events: none;
		}

		.cs-desc {
			/* 14px - 16px */
			font-size: clamp(0.875rem, 1.4vw, 1rem);
			line-height: 1.5em;
			text-align: center;
			width: 100%;
			color: var(--bodyTextColor);
		}

		.cs-ring {
			--ring-width: 8px;
			width: calc(100% - var(--ring-width));

			position: absolute;
			overflow: visible;
			pointer-events: none;
			aspect-ratio: 1;
			rotate: -90deg;
			scale: 1 -1;
		}

		.cs-ring circle {
			fill: none;
			stroke: #f7f7f7;
			stroke-width: var(--ring-width);
		}

		.cs-ring circle:last-of-type {
			transition: stroke-dasharray 1s;
			stroke: var(--secondaryLight);
			stroke-linecap: round;
			stroke-dasharray: calc(var(--ratio) * 314%) 314%;
		}

		.cs-circle:hover .cs-ring {
			--ratio: 0 !important;
		}

		.cs-picture {
			/* set font size to scale with view width, stopping at 68% the value of em */
			font-size: min(2.16vw, 0.68em);
			width: calc(520 / 16 * 1em);
			height: calc(680 / 16 * 1em);
			/* margin top and bottom to match the exact amount the grey square overflows the parent for consistent spacing */
			margin: calc(48 / 16 * 1em) 0;
			display: block;
			position: relative;
			&:before {
				/* grey box */
				content: "";
				width: 100%;
				height: 100%;
				background: #bababa;
				opacity: 1;
				border-radius: calc(12 / 16 * 1em);
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				transform: rotate(15deg);
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: calc(10 / 16 * 1em);
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#Aboutsbs-328 {
		.cs-container {
			max-width: calc(1280 / 16 * 1rem);
			/* set to horizontal arrangement */
			flex-direction: row;
			justify-content: center;
			/* 77px - 160px */
			gap: clamp(4.8125rem, 10vw + 1rem, 10rem);
		}

		.cs-content {
			text-align: left;
			align-items: flex-start;
		}

		.cs-picture {
			font-size: min(1.1vw, 1em);
			margin: calc(56 / 16 * 1em) 0 calc(56 / 16 * 1em) calc(80 / 16 * 1em);
			/* prevent flexbox from squishing it */
			flex: none;
		}

		.cs-circles {
			max-width: 100%;
			margin-right: 0;
			margin-left: 0;
		}

		.cs-ring-wrapper {
			/* breaks the children out of the container.  They can now be arrnaged as if thy are all children of the cs-circle */
			display: contents;
		}

		.cs-ring {
			/* make the ring position absolute so it can sit on top of the other elements that are centered relatively in the cs-circle */
			width: 100%;
			height: auto;
			position: absolute;
			top: 0;
			left: 0;
		}

		.cs-number {
			/* make the number relative positioning so it and the cs-desc can position themselves around each other */
			position: relative;
			top: auto;
			left: auto;
			transform: none;
		}

		.cs-desc {
			position: relative;
			bottom: auto;
			left: auto;
			transform: none;
		}
	}
}
/*-- -------------------------- -->
        <---       Meet The Team        -->
        <--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#AboutMeet-328 {
		padding: var(--sectionPadding);

		.cs-container {
			max-width: calc(1280 / 16 * 1rem);
			width: 100%;
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}

		.cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: center;
			width: 100%;
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: center;
		}

		.cs-card-group {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: calc(16 / 16 * 1rem);
		}

		.cs-item {
			list-style: none;
			width: 100%;
			min-height: calc(302 / 16 * 1rem);
			position: relative;
			aspect-ratio: (328 / 302);

			&:hover {
				.cs-background {
					img {
						transform: scale(1.1);
					}
				}
			}
		}

		.cs-info {
			padding: calc(10 / 16 * 1rem) 0;
			background-color: fade(#fff, 6%);
			border-radius: calc(8 / 16 * 1rem);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			right: clamp(0.75rem, 1.4vw, 1rem);
			/* 12px - 16px */
			bottom: clamp(0.75rem, 1.4vw, 1rem);
			left: clamp(0.75rem, 1.4vw, 1rem);
			z-index: 10;
			-webkit-backdrop-filter: blur(18px);
			backdrop-filter: blur(18px);
		}

		.cs-name {
			font-size: calc(20 / 16 * 1rem);
			line-height: 1.2em;
			font-weight: 700;
			margin: 0;
			color: var(--primaryLight);
			display: block;
		}

		.cs-job {
			/* 14px - 16px */
			font-size: clamp(0.875rem, 1.5vw, 1rem);
			line-height: 1.5em;
			color: #fff;
			display: block;
		}

		.cs-background {
			width: 100%;
			height: 100%;
			border-radius: calc(12 / 16 * 1rem);
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			/* clips the corners of the img tag */
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				transition: transform 0.6s;
			}
		}
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#AboutMeet-328 {
		.cs-card-group {
			max-width: calc(995 / 16 * 1rem);
			width: 100%;
			flex-direction: row;
			flex-wrap: wrap;
		}

		.cs-item {
			max-width: calc(305 / 16 * 1rem);
			width: 100%;
			aspect-ratio: (224 / 302);
		}
	}
}

/*-- -------------------------- -->
        <---          Contact           -->
        <--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#AboutContact-328 {
		padding: var(--sectionPadding);
		position: relative;
		z-index: 1;

		.cs-container {
			/* changes to 1280px at desktop */
			max-width: calc(550 / 16 * 1rem);
			width: 100%;
			margin: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: calc(52 / 16 * 1rem);
		}

		.cs-content {
			text-align: left;
		}

		.cs-topper {
			color: var(--secondary);
		}

		.cs-title {
			color: var(--bodyTextColorWhite);
		}

		.cs-form {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			gap: calc(12 / 16 * 1rem);
		}

		.cs-label {
			/* 14px - 16px */
			font-size: clamp(0.875rem, 1.5vw, 1rem);
			width: 100%;
			color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: calc(4 / 16 * 1rem);
		}

		.cs-input {
			font-size: calc(16 / 16 * 1rem);
			width: 100%;
			height: calc(56 / 16 * 1rem);
			/* prevents padding from adding to height and width */
			box-sizing: border-box;
			padding: 0;
			padding-left: calc(24 / 16 * 1rem);
			color: #fff;
			background: rgba(255, 255, 255, 0.12);
			border: none;
			border-radius: calc(8 / 16 * 1rem);
			-webkit-backdrop-filter: blur(15px);
			backdrop-filter: blur(15px);
			&::placeholder {
				color: #f7f7f7;
				opacity: 0.5;
			}
		}

		.cs-textarea {
			font-family: inherit;
			min-height: calc(120 / 16 * 1rem);
			margin-bottom: calc(12 / 16 * 1rem);
			padding-top: calc(24 / 16 * 1rem);
		}

		.cs-submit {
			width: calc(283 / 16 * 1rem);
			color: var(--headerColor);
			background-color: var(--secondaryLight);
			border: none;
			text-transform: uppercase;
			transition: color 0.3s;
			&:hover {
				cursor: pointer;
			}
		}

		.cs-right {
			width: 100%;
			/* prevents padding from adding to height and width */
			box-sizing: border-box;
			/* 16px - 24px */
			padding: clamp(1rem, 3.5vw, 1.5rem);
			background-color: rgba(255, 255, 255, 0.12);
			border-radius: calc(24 / 16 * 1rem);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			-webkit-backdrop-filter: blur(15px);
			backdrop-filter: blur(15px);
			/* 24px - 32px */
			gap: clamp(1.5rem, 4vw, 2rem);
		}

		.cs-map {
			width: 100%;
			/* 300px - 425px */
			height: clamp(18.75rem, 63.4vw, 26.5625rem);
			border-radius: calc(24 / 16 * 1rem);
			display: block;
			position: relative;
			/* clips the corners of the img tag */
			overflow: hidden;

			&:before {
				content: "";
				/* 32px - 48px */
				width: clamp(2rem, 4vw, 3rem);
				height: clamp(2rem, 4vw, 3rem);
				/* push X amount of pixels from it's current position off the center line */
				margin-left: calc(10 / 16 * 1rem);
				background: url("https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin-red.svg");
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				opacity: 1;
				display: block;
				position: absolute;
				/* 148px - 220px */
				top: clamp(9.25rem, 30.7vw, 13.75rem);
				/* push to the center line of the div */
				left: 50%;
				z-index: 10;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.cs-contact-group {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: calc(16 / 16 * 1rem);
		}

		.cs-item {
			list-style: none;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}

		.cs-header {
			font-size: calc(20 / 16 * 1rem);
			line-height: 1.2em;
			font-weight: 700;
			margin-bottom: calc(12 / 16 * 1rem);
			color: var(--secondaryLight);
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: calc(4 / 16 * 1rem);
		}

		.cs-link {
			/* 14px - 16px */
			font-size: clamp(0.875rem, 1.5vw, 1rem);
			line-height: 1.5em;
			color: var(--bodyTextColorWhite);
			text-decoration: none;
			transition: color 0.3s;

			&:hover {
				color: var(--secondary);
			}
		}

		.cs-background {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;

			&:before {
				/* top right box */
				content: "";
				width: 100%;
				height: 100%;
				background: var(--primary);
				opacity: 0.92;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
	#AboutContact-328 {
		.cs-contact-group {
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#AboutContact-328 {
		.cs-container {
			max-width: calc(1280 / 16 * 1rem);
			flex-direction: row;
			justify-content: space-between;
			gap: calc(52 / 16 * 1rem);
		}

		.cs-content {
			max-width: calc(522 / 16 * 1rem);
		}

		.cs-title,
		.cs-topper {
			text-align: left;
			margin-left: 0;
		}

		.cs-title {
			max-width: calc(522 / 16 * 1rem);
		}

		.cs-email,
		.cs-phone {
			width: 48%;
		}

		.cs-button-solid {
			margin-left: 0;
		}

		.cs-right {
			max-width: calc(658 / 16 * 1rem);
			width: 51.6%;
			/* prevent flexbox from squishing it */
			flex: none;
		}
	}
}

/* Desktop - 1300px - Parallax Effect */
@media only screen and (min-width: 81.25rem) {
	#AboutContact-328 {
		background: url("https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/round-table.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		/* makes parallax effect */
		background-attachment: fixed;
	}
}
                                
 /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {


	#sbs-410 {

		padding: var(--sectionPadding);
		border-bottom: 1px solid #b4b2c7;
		/* clips svg as the screen grows so it doesn't overflow */
		overflow: hidden;
		position: relative;
		z-index: 1;

		.cs-container {
			width: 100%;
			/* changes to 1280 at tablet */
			max-width: calc(550 / 16 * 1rem);
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}

		.cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: left;
			width: 100%;
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: flex-start;
		}

		.cs-topper {
			font-size: var(--topperFontSize);
			line-height: 1.2em;
			text-transform: uppercase;
			text-align: inherit;
			letter-spacing: 0.1em;
			font-weight: 700;
			color: var(--primary);
			margin-bottom: calc(4 / 16 * 1rem);
			display: block;
		}

		.cs-title {
			font-size: var(--headerFontSize);
			font-weight: 900;
			line-height: 1.2em;
			text-align: inherit;
			max-width: calc(700 / 16 * 1rem);
			margin: 0 0 calc(16 / 16 * 1rem) 0;
			color: var(--headerColor);
			position: relative;
		}

		.cs-text {
			font-size: var(--bodyFontSize);
			line-height: 1.5em;
			text-align: inherit;
			width: 100%;
			max-width: calc(650 / 16 * 1rem);
			margin: 0;
			color: var(--bodyTextColor);
		}

		.cs-text {
			/* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
			margin-bottom: calc(16 / 16 * 1rem);
			&:last-of-type {
				margin-bottom: calc(32 / 16 * 1rem);
			}
		}

		.cs-ul {
			width: 100%;
			padding: 0;
			margin: 0 0 calc(32 / 16 * 1rem) 0;
			padding-top: calc(32 / 16 * 1rem);
			border-top: 2px dashed #b4b2c7;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: calc(36 / 16 * 1rem);
		}

		.cs-item {
			list-style: none;
			width: 100%;
			max-width: calc(264 / 16 * 1rem);
			margin: 0;
		}

		.cs-h3 {
			/* 16px - 20px */
			font-size: clamp(1rem, 2.3vw, 1.25rem);
			line-height: 1.5em;
			text-transform: uppercase;
			font-weight: 700;
			margin: 0 0 calc(8 / 16 * 1rem) 0;
			color: var(--primary);
		}

		.cs-item-text {
			/* 14px - 16px */
			font-size: clamp(0.875rem, 1.5vw, 1rem);
			line-height: 1.5em;
			margin: 0;
			color: var(--bodyTextColor);
		}

		.cs-button-solid {
			font-size: calc(16 / 16 * 1rem);
			/* 46px - 56px */
			line-height: clamp(2.875rem, 5.5vw, 3.5rem);
			text-decoration: none;
			font-weight: 700;
			text-align: center;
			margin: 0;
			color: #fff;
			min-width: calc(150 / 16 * 1rem);
			padding: 0 calc(24 / 16 * 1rem);
			background-color: var(--primary);
			border-radius: calc(4 / 16 * 1rem);
			display: inline-block;
			position: relative;
			z-index: 1;
			/* prevents padding from adding to the width */
			box-sizing: border-box;

			&:before {
				content: '';
				position: absolute;
				height: 100%;
				width: 0%;
				background: #000;
				opacity: 1;
				top: 0;
				left: 0;
				z-index: -1;
				border-radius: calc(4 / 16 * 1rem);
				transition: width 0.3s;
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}
		}

		.cs-image-group {
			font-size: min(2.5vw, 1em);
			width: calc(579 / 16 * 1em);
			height: calc(542 / 16 * 1em);
			/* sends it to the top of the flexbox */
			order: -1;
			position: relative;
		}

		.cs-picture {
			border-radius: calc(20 / 16 * 1em);
			/* clips the img tag corners */
			overflow: hidden;
			position: absolute;
			display: block;

			&:hover {
				&:before {
					opacity: 0.6;
				}

				img {
					transform: scale(1.1);
				}
			}

			&:before {
				/* Hover Box */
				content: '';
				width: 100%;
				height: 100%;
				background: var(--primary);
				opacity: 0;
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				z-index: 10;
				transition: opacity 0.3s;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
				transition: transform 0.6s;
			}
		}

		.cs-picture1 {
			width: calc(204 / 16 * 1em);
			height: calc(314 / 16 * 1em);
			top: 0;
			left: 0;
		}

		.cs-picture2 {
			width: calc(348 / 16 * 1em);
			height: calc(314 / 16 * 1em);
			top: 0;
			right: 0;
		}

		.cs-picture3 {
			width: calc(579 / 16 * 1em);
			height: calc(202 / 16 * 1em);
			bottom: 0;
			left: 0;
		}

		.cs-graphic {
			width: 100%;
			position: absolute;
			top: calc(182 / 16 * 1rem);
			bottom: 0;
			left: 0;
			/* flips the svg horizontally */
			transform: scaleX(-1);
			z-index: -1;
			&:before {
				/* White Box */
				content: '';
				width: 100%;
				background: #fafbfc;
				opacity: 1;
				position: absolute;
				display: block;
				/* 110px - 140px */
				top: clamp(6.875rem, 20vw, 8.75rem);
				bottom: 0;
				left: 0;
			}
		}

		.cs-graphic-img {
			width: 100%;
			height: auto;
			aspect-ratio: initial;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#sbs-410 {
		.cs-container {
			max-width: calc(1280 / 16 * 1rem);
			/* added section padding here only for the padding top in case you place it under a section that has a background color other than white.  It would look bad having the grey svg shape touching the edge of the next section. So we add this to create space and account for that.  If the section above this stitch has a white background, you can remove this */
			padding: var(--sectionPadding);
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0;
			flex-direction: row;
			align-items: flex-end;
			justify-content: space-between;
		}

		.cs-content {
			width: 48%;
			max-width: calc(588 / 16 * 1rem);
		}

		.cs-image-group {
			font-size: min(1.2vw, 1em);
			flex: none;
		}

		.cs-graphic {
			background-color: transparent;
			top: calc(0 / 16 * 1rem);
			&:before {
				/* 230px - 350px*/
				top: clamp(16rem, 26vw, 21.875rem);
			}
		}

		.cs-graphic-img {
			/* 60px - 100px */
			top: clamp(3.75rem, 6vw, 6.25rem);
		}
	}
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
	#sbs-410 {
		.cs-container {
			align-items: center;
		}

		.cs-graphic {
			&::before {
				display: none;
			}
		}
	}
}

/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */


	#why-choose-223 {
		padding: var(--sectionPadding);
		background-color: #fafbfc;

		.cs-container {
			width: 100%;
			/* changes to 1280px on tablet */
			max-width: calc(550 / 16 * 1rem);
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}

		.cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: left;
			width: 100%;
			max-width: calc(624 / 16 * 1rem);
			margin-right: auto;
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: flex-start;
		}

		.cs-topper {
			font-size: var(--topperFontSize);
			line-height: 1.2em;
			text-transform: uppercase;
			text-align: inherit;
			letter-spacing: 0.1em;
			font-weight: 700;
			color: var(--primary);
			margin-bottom: calc(4 / 16 * 1rem);
			display: block;
		}

		.cs-title {
			font-size: var(--headerFontSize);
			font-weight: 900;
			line-height: 1.2em;
			text-align: inherit;
			max-width: calc(700 / 16 * 1rem);
			margin: 0 0 calc(16 / 16 * 1rem) 0;
			color: var(--headerColor);
			position: relative;
		}

		.cs-text {
			font-size: var(--bodyFontSize);
			line-height: 1.5em;
			text-align: inherit;
			width: 100%;
			max-width: calc(650 / 16 * 1rem);
			margin: 0;
			color: var(--bodyTextColor);
		}

		.cs-text {
			/* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
			margin-bottom: calc(16 / 16 * 1rem);
			&:last-of-type {
				margin-bottom: calc(32 / 16 * 1rem);
			}
		}

		.cs-card-group {
			width: 100%;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: calc(20 / 16 * 1rem);
		}

		.cs-item {
			text-align: left;
			list-style: none;
			width: 100%;
			/* 32px - 44px top & bottom, 24px - 32px left & right */
			padding: clamp(2rem, 4vw, 2.75rem) clamp(1.5rem, 4vw, 2rem);
			margin: 0;
			border-radius: calc(5 / 16 * 1rem);
			border: 1px solid #dad9e3;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;
			/* 16px - 32px */
			column-gap: clamp(1rem, 2vw, 2rem);
			/* 24px - 28px */
			row-gap: clamp(1.5rem, 1.5vw, 1.75rem);
			/* prevents padding from adding to height and width */
			box-sizing: border-box;
			transition: background-color 0.3s;

			&:hover {
				background-color: var(--primary);

				.cs-icon {
					filter: grayscale(1) brightness(1000%);
				}

				.cs-h3,
				.cs-item-text {
					color: #fff;
				}
			}
		}

		.cs-icon {
			/* 70px - 80px */
			width: clamp(4.375rem, 7vw, 5rem);
			margin: 0;
			height: auto;
			margin: 0;
			display: block;
		}

		.cs-h3 {
			/* 25px - 31px */
			font-size: clamp(1.5625rem, 2vw, 1.9375rem);
			line-height: 1.2em;
			font-weight: 700;
			text-align: inherit;
			width: 55%;
			margin: 0;
			color: var(--headerColor);
			transition: color 0.3s;
		}

		.cs-item-text {
			font-size: calc(16 / 16 * 1rem);
			line-height: 1.5em;
			text-align: inherit;
			width: 100%;
			margin: auto 0 0 0;
			color: var(--bodyTextColor);
			transition: color 0.3s;
		}

		.cs-button-solid {
			font-size: calc(16 / 16 * 1rem);
			/* 46px - 56px */
			line-height: clamp(2.875rem, 5.5vw, 3.5rem);
			text-decoration: none;
			font-weight: 700;
			text-align: center;
			margin: 0;
			color: #fff;
			min-width: calc(150 / 16 * 1rem);
			padding: 0 calc(24 / 16 * 1rem);
			background-color: var(--primary);
			border-radius: calc(4 / 16 * 1rem);
			display: inline-block;
			position: relative;
			z-index: 1;
			/* prevents padding from adding to the width */
			box-sizing: border-box;

			&:before {
				content: '';
				position: absolute;
				height: 100%;
				width: 0%;
				background: #000;
				opacity: 1;
				top: 0;
				left: 0;
				z-index: -1;
				border-radius: calc(4 / 16 * 1rem);
				transition: width 0.3s;
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}



/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#why-choose-223 {
		.cs-container {
			max-width: calc(1280 / 16 * 1rem);
		}

		.cs-content {
			width: 70%;
		}

		.cs-card-group {
			/* switch to grid since there's no chance of adding or removing cards in this design.  We can be more set and rigid in our layout of this section and use grid for better spacing */
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: calc(20 / 16 * 1rem);
			/* if different boxes are different heights, this makes them all the same height so the grid is always even */
			align-items: stretch;
		}

		.cs-item {
			grid-column: span 1;
		}
	}
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#why-choose-223 {
		.cs-container {
			flex-direction: row;
			justify-content: space-between;
		}

		.cs-card-group {
			width: 60%;
			max-width: calc(758 / 16 * 1rem);
			/* prevents flexbox from squishing it */
			flex: none;
		}
	}
}
                                
                                                               