/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #hero-1115 {
        /* 200px - 300px top */
        padding: clamp(12.5rem, 16.82vw, 18.75rem) calc(16 / 16 * 1rem) calc(100 / 16 * 1rem);
        /* clips the svg wave from overflowing */
        overflow: hidden;
        position: relative;
        z-index: 1;

        &:before {
            /* textured pattern */
            content: '';
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            background-size: auto;
            background-position: center;
            background-repeat: repeat;
            opacity: 1;
            top: 0;
            left: 0;
            z-index: -1;
            /* prevents the mouse from interacting with itand also in dev tool mode */
            pointer-events: none;
         }
        
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: calc(48 / 16 * 1rem);
        }

        .cs-content {
            max-width: calc(630 / 16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-topper {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: .1em;
            font-weight: 700;
            color: #767676;
            margin-bottom: calc(4 / 16 * 1rem);
            display: block;
        }
    
        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 5vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: center;
            /* 23 characters including spaces wide */
            max-width: 23ch;
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--headerColor);
            position: relative;
        }
    
        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            text-align: center;
            width: 100%;
            max-width: calc(531 / 16 * 1rem);
            /* 28px - 40px */
            margin: 0 0 clamp(1.75rem, 3.92vw, 2.5rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(20 / 16 * 1rem);
            position: relative;
        }

        .cs-image-group {
            /* we use ems for everything inside the cs-image-group so they pull their value for em from the cs-image-group container that we set.  This min-max property lets us tie the font size to the view width of the screen and grows proportionally with every pixel wide the screen gets until the value the view width units = .75em, resets at small desktop */
            font-size:min(2.2vw, .75em);
            width: calc(653 / 16 * 1em);
            height: calc(618 / 16 * 1em);
            position: relative;
            z-index: 2;
        }

        .cs-floater {
            /* 50px - 120px */
            width: clamp(3.125rem, 8vw, 7.5rem);
            height: clamp(3.125rem, 8vw, 7.5rem);
            background-color: var(--primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: calc(130 / 16 * 1em);
            /* changes to -74px at large desktop */
            left: calc(-35 / 16 * 1em);
            transform: rotate(-15deg);
        }

        .cs-floater-icon {
            width: calc(52 / 16 * 1em);
            height: auto;
        }

        .cs-picture {
            width: calc(651 / 16 * 1em);
            height: calc(523 / 16 * 1em);
            overflow: hidden;
            display: flex;
            align-items: flex-end;
            position: absolute;
            left: 50%;
            top: calc(95 / 16 * 1em);
            transform: translateX(-50%);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        .cs-picture1 {
            /* we set a height on the top image to cut off the bottom of it and hide it with overflow:hidden where the curved bottom picture meets it. The top image is what overlaps the "curve" of the bottom image.  */
            height: 69.5%;
            transform: translateX(-50%);
            /* clips the bottom left corner of the top image to match the curve of the bottom one because it was too long */
            border-radius: 0 0 0 25%;
        }

        .cs-picture2 {
            border-radius: 0 0 55% 55%;
        }

        .cs-graphic {
            width: calc(586 / 16 * 1em);
            height: auto;
            position: absolute;
            z-index: -1;
        }

        .cs-graphic1 {
            top: 0;
            right: 0;
        }

        .cs-graphic2 {
            bottom: 0;
            left: 0;
        }

        .cs-donations {
            /* 12px - 20px */
            padding: clamp(.75rem, 2.5vw, 1.25rem);
            /* prevent padding from affecting height and width */
            box-sizing: border-box;
            background-color: #fff;
            box-shadow: 0px 8px 100px 0px rgba(0, 0, 0, 0.08);
            border-radius: calc(12 / 16 * 1rem);
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            /* 8px - 12px */
            gap: clamp(.5rem, 1.5vw, .75rem);
            position: absolute;
            top: calc(-10 / 16 * 1rem);
            right: 0;
        }

        .cs-donations-icon {
            /* 12px - 20px */
            width: clamp(.75rem, 2vw, 1.25rem);
            height: auto;
        }

        .cs-donations-icon-wrapper {
            /* 32px - 48px */
            width: clamp(2rem, 4vw, 3rem);
            height: clamp(2rem, 4vw, 3rem);
            background-color: var(--primaryLight);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-donations-flex {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(4 / 16 * 1rem);
        }

        .cs-bar {
            display: flex;
            justify-content: center;
            align-items: center;
            /* 4px - 8px */
            gap: clamp(.25rem, 1vw, .5rem);
        }

        .cs-progress {
            /* 100px - 160px */
            width: clamp(6.25rem, 8vw, 10rem);
            /* 4px - 8px */
            height: clamp(.25rem, 1vw, .5rem);
            border-radius: calc(8 / 16 * 1rem);
            overflow: hidden;
            background-color: #E8E8E8;
        }

        .cs-progress-bar {
            width: var(--progress);
            height: 100%;
            background-color: var(--secondary);
            border-radius: calc(8 / 16 * 1rem);
            display: block;
        }

        .cs-percentage {
            font-size: calc(12 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: #4E4B66;
            display: block;
        }

        .cs-volunteer {
            /* 20px - 24px tpo & bottom */
            /* 16px - 20px left & right */
            padding: clamp(1rem, 2vw, 1.25rem) clamp(1.25rem, 2.5vw, 1.5rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            background-color: #fff;
            border-radius: calc(12 / 16 * 1rem);
            box-shadow: 0px 8px 100px 0px rgba(0, 0, 0, 0.08);

            display: inline-flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            /* 8px - 16px */
            gap: clamp(.5rem, 2vw, 1rem);
            position: relative;
            z-index: -1;
        }

        .cs-volunteer-flex {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .cs-header {
            /* 12px - 20px */
            font-size: clamp(.75rem,2vw, 1.25rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-volunteer-img {
            /* 36px 48px */
            width: clamp(2.25rem, 3vw, 3rem);
            height: auto;
            margin: 0 calc(-16 / 16 * 1rem) 0 0;
            border-radius: 50%;
            border: 2px solid #fff;
            background-color: #fff;
        }

        .cs-volunteer-number {
            /* 12px - 16px */
            font-size: clamp(.75rem, 2vw, 1rem);
            font-weight: 700;
            /* 36px 48px */
            width: clamp(2.25rem, 3vw, 3rem);
            height: clamp(2.25rem, 3vw, 3rem);
            background-color: var(--secondary);
            color: var(--headerColor);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-arrow {
            /* 60px - 130px */
            width: clamp(3.75rem, 10.5vw, 8.125rem);
            height: auto;
            position: absolute;
            bottom: 110%;
            left: calc(-10 / 16 * 1rem);
            transform: rotate(-66deg);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1115 {
        .cs-image-group {
            font-size: min(1.13vw, 1em);
            /* pushes down to create the space for the cs-volunteer to drop down 68px, since its positioned relative to the cs-image-group-wrapper div at bottom 0, the marign-bottom on the cs-image-group pushes down on the wrapper div, making the cs-volunteer drop down with it since it is positioned to the bottom of the wrapper div */
            margin-bottom: calc(68 / 16 * 1rem);
        }

        .cs-donations {
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-volunteer {
            position: absolute;
            bottom: 0;
            left: calc(-115 / 16 * 1rem);
            bottom: 0;
            z-index: 10;
        }

        .cs-arrow {
            bottom: 95%;
            left: calc(38 / 16 * 1rem);
            transform: rotate(0);
            z-index: -1;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-1115 {
        text-align: left;
        padding-top:100px;

        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            width: 40vw;
            /* prevents flex-box from squishing it */
            flex: none;
            align-items: flex-start;
        }

        .cs-title, .cs-text {
            text-align: left;
        }
    }
}

/* Large Desktop - 1400px */
@media only screen and (min-width: 87.5rem) {
    #hero-1115 {
        padding-top:100px;
        .cs-image-group-wrapper {
            /* 48px - 160px */
            right: calc(clamp(2rem, 3vw, 10rem)*-1);
        }

        .cs-image-group {
            margin: 0;
            z-index: 10;
        }

        .cs-floater {
            left: calc(-74 / 16 * 1rem);
        }

        .cs-volunteer {
            left: calc(-321 / 16 * 1rem);
            bottom: calc(20 / 16 * 1rem);
            z-index: -1;
        }

        .cs-arrow {
            left: calc(200 / 16 * 1rem);
        }
    }
}
     
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {


	#sbs-90 {
		padding: var(--sectionPadding);

		.cs-container {
			width: 100%;
			/* changes to 1280px at tablet */
			max-width: calc(550 / 16 * 1rem);
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}

		.cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: left;
			width: 100%;
			max-width: calc(630 / 16 * 1rem);
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: flex-start;
		}

		.cs-topper {
			font-size: var(--topperFontSize);
			line-height: 1.2em;
			text-transform: uppercase;
			text-align: inherit;
			letter-spacing: 0.1em;
			font-weight: 700;
			color: var(--primary);
			margin-bottom: calc(4 / 16 * 1rem);
			display: block;
		}

		.cs-title {
			font-size: var(--headerFontSize);
			font-weight: 900;
			line-height: 1.2em;
			text-align: inherit;
			max-width: calc(700 / 16 * 1rem);
			margin: 0 0 calc(16 / 16 * 1rem) 0;
			color: var(--headerColor);
			position: relative;
		}

		.cs-text {
			font-size: var(--bodyFontSize);
			line-height: 1.5em;
			text-align: inherit;
			width: 100%;
			max-width: calc(650 / 16 * 1rem);
			margin: 0;
			color: var(--bodyTextColor);
		}

		.cs-text {
			/* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
			max-width: calc(562 / 16 * 1rem);
			margin-bottom: calc(16 / 16 * 1rem);

			&:last-of-type {
				margin-bottom: calc(32 / 16 * 1rem);
			}
		}

		.cs-button-solid {
			font-size: calc(16 / 16 * 1rem);
			/* 46px - 56px */
			line-height: clamp(2.875rem, 5.5vw, 3.5rem);
			text-decoration: none;
			font-weight: 700;
			text-align: center;
			margin: 0;
			color: #fff;
			min-width: calc(150 / 16 * 1rem);
			padding: 0 calc(24 / 16 * 1rem);
			background-color: var(--primary);
			border-radius: calc(4 / 16 * 1rem);
			display: inline-block;
			position: relative;
			z-index: 1;
			/* prevents padding from adding to the width */
			box-sizing: border-box;

			&:before {
				content: '';
				position: absolute;
				height: 100%;
				width: 0%;
				background: #000;
				opacity: 1;
				top: 0;
				left: 0;
				z-index: -1;
				border-radius: calc(4 / 16 * 1rem);
				transition: width 0.3s;
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}
		}

		.cs-picture {
			width: 90%;
			/* pushes down the by the same amount as the yellow circle overflows the container */
			/* 40px -88px */
			margin: 0 clamp(2.5rem, 5.9vw + 1rem, 5.5rem) calc(44 / 16 * 1rem) 0;
			position: relative;
			display: block;
			/* width divided by height */
			aspect-ratio: 288/220;

			&:before {
				/* yellow circle */
				content: '';
				width: calc(217 / 16 * 1rem);
				height: calc(217 / 16 * 1rem);
				background: var(--primaryLight);
				opacity: 1;
				border-radius: 50%;
				position: absolute;
				display: block;
				bottom: calc(-44 / 16 * 1rem);
				/* wrapped in a clamp so we can have a negative clamp */
				right: calc(clamp(2.5rem, 5.9vw + 1rem, 5.5rem) * -1);
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
                border-radius: 0.75rem;
			}
		}
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#sbs-90 {
		overflow: visible;
		.cs-container {
			max-width: calc(1280 / 16 * 1rem);
			justify-content: space-between;
			align-items: center;
			/* set flexbox back to the row orientation */
			flex-direction: row;
		}

		.cs-picture {
			/* 300px - 455px */
			width: clamp(18.75rem, 42.5vw, 28.4375rem);
			height: calc(282 / 16 * 1rem);
			/* prevent flexbox from squishing it */
			flex: none;
		}
	}
}


/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {


	#services-366 {
		padding: var(--sectionPadding);

		@keyframes floatAnimation2 {
			0% {
				transform: translateY(0);
			}
			50% {
				transform: translateY(-4px);
			}
			70% {
				transform: translateY(4px);
			}
			100% {
				transform: translateY(0);
			}
		}

		@keyframes InAndOut {
			0% {
				transform: translateY(calc(60 / 16 * 1rem)) scale(1);
				opacity: 1;
			}
			30% {
				transform: translateY(calc(30 / 16 * 1rem)) scale(0.8);
				opacity: 1;
			}
			60% {
				transform: translateY(calc(10 / 16 * 1rem)) scale(0.5);
				opacity: 0.2;
			}
			100% {
				transform: translateY(calc(0 / 16 * 1rem)) scale(0.2);
				opacity: 0;
			}
		}

		@keyframes InAndOut2 {
			0% {
				transform: translateY(calc(70 / 16 * 1rem)) scale(1);
				opacity: 1;
			}
			30% {
				transform: translateY(calc(40 / 16 * 1rem)) scale(0.8);
				opacity: 1;
			}
			60% {
				transform: translateY(calc(20 / 16 * 1rem)) scale(0.6);
				opacity: 1;
			}
			100% {
				transform: translateY(calc(0 / 16 * 1rem)) scale(0.4);
				opacity: 0;
			}
		}

		.cs-container {
			width: 100%;
			max-width: calc(1280 / 16 * 1rem);
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}

		.cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: center;
			width: 100%;
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: center;
		}

		.cs-topper {
			font-size: var(--topperFontSize);
			line-height: 1.2em;
			text-transform: uppercase;
			text-align: inherit;
			letter-spacing: 0.1em;
			font-weight: 700;
			color: var(--primary);
			margin-bottom: calc(4 / 16 * 1rem);
			display: block;
		}

		.cs-title {
			font-size: var(--headerFontSize);
			font-weight: 900;
			line-height: 1.2em;
			text-align: inherit;
			max-width: calc(700 / 16 * 1rem);
			margin: 0 0 calc(16 / 16 * 1rem) 0;
			color: var(--headerColor);
			position: relative;
		}

		.cs-text {
			font-size: var(--bodyFontSize);
			line-height: 1.5em;
			text-align: inherit;
			width: 100%;
			max-width: calc(650 / 16 * 1rem);
			margin: 0;
			color: var(--bodyTextColor);
		}

		.cs-card-group {
			width: 100%;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			flex-direction: column;
			/* 16px - 20px */
			column-gap: clamp(1rem, 2vw, 1.25rem);
		}

		.cs-item {
			list-style: none;
			width: 100%;
			max-width: calc(500 / 16 * 1rem);
			/* 20px - 40px top & bottom */
			/* 16px - 32px left & right */
			padding: clamp(1.25rem, 3.5vw, 2.5rem) clamp(1rem, 2.5vw, 2rem);
			border-radius: calc(16 / 16 * 1rem);
			border: 1px solid #e8e8e8;
			box-sizing: border-box;
			transition: background-color 0.3s;

			&:hover {
				background-color: var(--primary);

				.cs-icon-wrapper,
				.cs-bubble {
					&:before,
					&:after {
						background-color: #449ffc;
					}
				}

				.cs-icon {
					/* makes it white on hover */
					filter: grayscale(1) brightness(1000%);
				}

				.cs-h3 {
					color: #fff;
				}

				.cs-item-text {
					color: #fff;
				}
			}
		}

		.cs-link {
			text-decoration: none;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		.cs-icon-wrapper {
			width: calc(98 / 16 * 1rem);
			height: calc(120 / 16 * 1rem);
			margin-bottom: calc(24 / 16 * 1rem);
			display: flex;
			justify-content: center;
			align-items: flex-end;
			position: relative;

			&:before {
				/* Small Bubble */
				content: '';
				width: calc(27 / 16 * 1rem);
				height: calc(27 / 16 * 1rem);
				border-radius: 50%;
				background: #e5f2ff;
				opacity: 1;
				position: absolute;
				display: block;
				top: 0;
				left: calc(3 / 16 * 1rem);
				animation-name: InAndOut;
				animation-duration: 1.6s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				transition: background-color 0.3s;
			}

			&:after {
				/* Small Bubble */
				content: '';
				width: calc(27 / 16 * 1rem);
				height: calc(27 / 16 * 1rem);
				border-radius: 50%;
				background: #e5f2ff;
				opacity: 1;
				position: absolute;
				display: block;
				top: calc(11 / 16 * 1rem);
				right: calc(5 / 16 * 1rem);
				animation-name: InAndOut2;
				animation-duration: 2s;
				animation-delay: 0.3s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				transition: background-color 0.3s;
			}
		}

		.cs-bubble {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

			&:before {
				/* Big Bubble */
				content: '';
				width: calc(63 / 16 * 1rem);
				height: calc(63 / 16 * 1rem);
				border-radius: 50%;
				background: #e5f2ff;
				opacity: 1;
				position: absolute;
				display: block;
				bottom: calc(4 / 16 * 1rem);
				left: calc(0 / 16 * 1rem);
				animation-name: floatAnimation2;
				animation-duration: 12s;
				animation-timing-function: ease-in-out;
				animation-fill-mode: forwards;
				animation-iteration-count: infinite;
				transition: background-color 0.3s;
			}

			&:after {
				/* Big Bubble */
				content: '';
				width: calc(50 / 16 * 1rem);
				height: calc(50 / 16 * 1rem);
				border-radius: 50%;
				background: #e5f2ff;
				opacity: 1;
				position: absolute;
				display: block;
				bottom: calc(-4 / 16 * 1rem);
				right: calc(0 / 16 * 1rem);
				animation-name: floatAnimation2;
				animation-duration: 10s;
				animation-timing-function: ease-in-out;
				animation-fill-mode: forwards;
				animation-iteration-count: infinite;
				transition: background-color 0.3s;
			}
		}

		.cs-icon {
			width: calc(72 / 16 * 1rem);
			height: auto;
			position: relative;
			z-index: 10;
		}

		.cs-h3 {
			font-size: calc(20 / 16 * 1rem);
			font-weight: 900;
			text-align: center;
			line-height: 1.2em;
			margin: 0;
			margin-bottom: calc(12 / 16 * 1rem);
			color: var(--headerColor);
			transition: color 0.3s;
		}

		.cs-item-text {
			/* 14px - 16px */
			font-size: clamp(0.875rem, 1.5vw, 1rem);
			text-align: center;
			line-height: 1.5em;
			margin: 0;
			color: var(--bodyTextColor);
			transition: color 0.3s;
		}

		.cs-button-solid {
			font-size: calc(16 / 16 * 1rem);
			/* 46px - 56px */
			line-height: clamp(2.875rem, 5.5vw, 3.5rem);
			text-decoration: none;
			font-weight: 700;
			text-align: center;
			margin: 0;
			color: #fff;
			min-width: calc(150 / 16 * 1rem);
			padding: 0 calc(24 / 16 * 1rem);
			background-color: var(--primary);
			border-radius: calc(4 / 16 * 1rem);
			display: inline-block;
			position: relative;
			z-index: 1;
			/* prevents padding from adding to the width */
			box-sizing: border-box;

			&:before {
				content: '';
				position: absolute;
				height: 100%;
				width: 0%;
				background: #000;
				opacity: 1;
				top: 0;
				left: 0;
				z-index: -1;
				border-radius: calc(4 / 16 * 1rem);
				transition: width 0.3s;
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#services-366 {
		.cs-card-group {
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: nowrap;
		}
	}
}
    

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
/* Tablet - 768px */
@media only screen and (min-width: 0rem) {
	#gallery-46 {
		padding: var(--sectionPadding);
		position: relative;
		.cs-container {
			width: 100%;
			max-width: 80rem;
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: clamp(3rem, 6vw, 4rem);
		}
		.cs-content {
			text-align: center;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.cs-topper {
			font-size: var(--topperFontSize);
			line-height: 1.2em;
			text-transform: uppercase;
			text-align: inherit;
			letter-spacing: .1em;
			font-weight: 700;
			color: var(--primary);
			margin-bottom: 0.25rem;
			display: block;
		}
		.cs-title {
			font-size: var(--headerFontSize);
			font-weight: 900;
			line-height: 1.2em;
			text-align: inherit;
			max-width: 43.75rem;
			margin: 0 0 1rem 0;
			color: var(--headerColor);
			position: relative;
		}
		.cs-text {
			font-size: var(--bodyFontSize);
			line-height: 1.5em;
			text-align: inherit;
			width: 100%;
			max-width: 40.625rem;
			margin: 0;
			color: var(--bodyTextColor);
		}
		.cs-image-group {
			width: 100%;
			margin: 0;
			display: grid;
			place-content: center;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: 1fr;
			gap: clamp(0.5rem, 1.5vw, 1.25rem);
		}
		.cs-item {
			width: 100%;
			margin: 0;
			aspect-ratio: 1;
			grid-column: span 6;
			display: block;
			position: relative;
			overflow: hidden;
			&:hover {
				.cs-picture {
					img {
						transform: scale(1.1);
					}
				}
				.cs-hover-box {
					opacity: 1;
					pointer-events: all;
				}
				.cs-heading3 {
					opacity: 1;
					transform: translateY(0);
				}
				.cs-subtitle {
					opacity: 1;
					transform: translateY(0);
				}
				.cs-link {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
		.cs-picture {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
				transition: transform .6s;
			}
		}
		.cs-item-1 {
			grid-column: 1 / span 12;
			grid-row: 1 / 2;
			aspect-ratio: 2.07594937;
		}
		.cs-item-2 {
			grid-column: 1 / span 12;
			grid-row: 12 / 2;
			aspect-ratio: 2.07594937;
		}
		.cs-item-3 {
			grid-column: 1 / span 12;
			grid-row: 12 / 2;
			aspect-ratio: 2.07594937;
		}
		.cs-hover-box {
			height: 100%;
			width: 100%;
			padding: 1rem 0.625rem;
			opacity: 0;
			position: absolute;
			z-index: 10;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			box-sizing: border-box;
			transition: opacity .3s;
			pointer-events: none;
			position: relative;
			&:before {
				content: '';
				width: 100%;
				height: 100%;
				background: var(--primary);
				opacity: .9;
				position: absolute;
				display: block;
				top: 0;
				left: 0;
			}
		}
		.cs-heading3 {
			font-size: clamp(1rem, 5vw, 1.25rem);
			line-height: 1.2em;
			margin: 0;
			margin-bottom: 0.75rem;
			color: var(--bodyTextColorWhite);
			opacity: 0;
			transform: translateY(0.625rem);
			transition: opacity .3s, transform .5s;
		}
		.cs-subtitle {
			font-size: clamp(0.8125rem, 5vw, 0.9375rem);
			line-height: 1.5em;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: auto;
			color: var(--bodyTextColorWhite);
			opacity: 0;
			transform: translateY(0.625rem);
			display: block;
			transition: opacity .3s, transform .5s;
			transition-delay: .1s;
		}
		.cs-link {
			font-size: 0.9375rem;
			line-height: 1.5em;
			font-weight: bold;
			text-decoration: none;
			color: #fff;
			opacity: 0;
			transform: translateY(0.625rem);
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			transition: opacity .3s, transform .5s;
			transition-delay: .3s;
			&:hover {
				&:before {
					width: 100%;
				}
			}
			&:before {
				content: '';
				position: absolute;
				display: block;
				height: 0.125rem;
				width: 0%;
				background: currentColor;
				opacity: 1;
				bottom: -0.125rem;
				left: 0;
				transition: width .3s;
			}
			svg {
				margin-right: 0.5rem;
			}
		}
		.cs-button-solid {
			font-size: 1rem;
			line-height: clamp(2.875rem, 5.5vw, 3.5rem);
			text-decoration: none;
			font-weight: 700;
			text-align: center;
			margin: 0;
			color: #fff;
			min-width: 9.375rem;
			padding: 0 1.5rem;
			background-color:  var(--primary);
			border-radius: 0.25rem;
			display: inline-block;
			position: relative;
			z-index: 1;
			box-sizing: border-box;
			&:before {
				content: '';
				position: absolute;
				height: 100%;
				width: 0%;
				background: #000;
				opacity: 1;
				top: 0;
				left: 0;
				z-index: -1;
				border-radius: 0.25rem;
				transition: width .3s;
			}
			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
}
@media only screen and (min-width: 48rem) {
	#gallery-46 {
		.cs-item {
			grid-column: span 3;
		}
		.cs-item-1 {
			grid-column: 1 / span 6;
			grid-row: 1;
		}
		.cs-item-2 {
			grid-column: 7 / span 6;
			grid-row: 1;
		}
		.cs-item-3 {
			grid-column: 4 / span 6;
			grid-row: 2;
		}
		.cs-item-5 {
			grid-column: 7 / span 3;
			grid-row: 2;
		}
		.cs-item-6 {
			grid-column: 10 / span 3;
			grid-row: 1 / span 2;
			aspect-ratio: initial;
		}
	}
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #services-1290 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            /* changes to 1440px at tablet */
            max-width: calc(550 / 16 * 1rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
        }

        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            font-weight: 700;
            width: 100%;
            margin-bottom: calc(4 / 16 * 1rem);
            color: var(--primary);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            display: block;
            text-align: inherit;
        }

        .cs-title {
            font-size: var(--headerFontSize);
            line-height: 1.2em;
            font-weight: 900;
            max-width: calc(700 / 16 * 1rem);
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--headerColor);
            position: relative;
            text-align: inherit;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            max-width: calc(350 / 16 * 1rem);
            width: 100%;
            margin: 0;
            color: var(--bodyTextColor);
            text-align: inherit;
        }

        .cs-text {
            max-width: calc(630 / 16 * 1rem);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            background-color: #fff;
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition: box-shadow 0.3s, transform 0.3s;

            &:hover {
                transform: translateY(-.4375rem);
                .cs-picture {
                    img {
                        opacity: 0.3;
                        transform: scale(1.1);
                    }
                }
                .cs-h3 {
                    color: var(--primaryLight);
                }
            }

            &::after {
                content: "";
                width: calc(20 / 16 * 1rem);
                height: calc(80 / 16 * 1rem);
                margin: calc(16 / 16 * 1rem) auto;
                background-image: url(https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/arrow-orange.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                opacity: 1;
                display: block;
                position: relative;
                z-index: 10;
            }

            &:nth-of-type(2) {
                &::after {
                    transform: scaleX(-1);
                }
            }

            &:last-of-type {
                &::after {
                    display: none;
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: block;
        }

        .cs-picture {
            width: 100%;
            height: calc(150 / 16 * 1rem);
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            background-color: var(--primaryLight);
            border-radius: calc(10 / 16 * 1rem);
            display: block;
            position: relative;
            z-index: 10;
            /* clips the img tag corners */
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.6s, opacity 0.3s;
            }
        }

        .cs-number {
            font-size: calc(20 / 16 * 1rem);
            font-weight: bold;
            width: calc(36 / 16 * 1rem);
            height: calc(36 / 16 * 1rem);
            margin: 0;
            padding: 0;
            color: #fff;
            background-color: var(--primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            word-break: break-all;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(12 / 16 * 1rem);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px  */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-background {
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            height: 25%;
            width: 100%;
            opacity: .5;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1290 {
        .cs-container {
            max-width: calc(1440 / 16 * 1rem);
            gap: calc(100 / 16 * 1rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        .cs-item {
            grid-column: span 3;
            &::after {
                width: calc(120 / 16 * 1rem);
                height: calc(28 / 16 * 1rem);
                margin: 0;
                background-image: url(https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/arrow-orange-large.svg);
                position: absolute;
                bottom: calc(-40 / 16 * 1rem);
                left: clamp(8.5rem, 18vw, 18.5rem);
            }

            &:nth-of-type(2) {
                &::after {
                    top: calc(-60 / 16 * 1rem);
                    transform: rotateX(180deg);
                }
            }
        }

        .cs-background {
            top: 0;
            left: auto;
            right: 50%;
            /* 90px - 225px */
            margin-right: clamp(5.625rem, 15vw, 14.0625rem);
            height: 50%;
            width: 50vw;
        }
    }
}


/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #faq-326 {
        padding: var(--sectionPadding);
        
        .cs-container {
            width: 100%;
            max-width: calc(700 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }
    
        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: .1em;
            font-weight: 700;
            color: var(--primary);
            margin-bottom: calc(4 / 16 * 1rem);
            display: block;
        }
    
        .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            max-width: calc(700 / 16 * 1rem);
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--headerColor);
            position: relative;
        }

        .cs-title {
            /* cs-title override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This second cs-text is a section specific override that stays inside this stitch */
            margin: 0;
        }

        .cs-faq-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            background-color: #F7F7F7;
            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            border-radius: calc(12 / 16 * 1rem);
            transition: border-bottom .3s;

            &.active {
                .cs-button {
                    background-color: var(--primary);
                    color: var(--secondaryLight);
                    &:before {
                        background-color: var(--secondaryLight);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--secondaryLight);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px top & bottom */
                    /* 16px - 24px left & right */
                    padding: clamp(1.25rem, 1.3vw, 1.5rem) clamp(1rem, 2vw, 1.5rem);
                    opacity: 1;
                }
            }
        }

        .cs-button {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            /* 16px - 20px */
            padding: clamp(1rem, 1.3vw, 1.25rem);
            background-color: #F7F7F7;
            border: none;
            color: var(--headerColor);
            display: block;
            width: 100%;
            position: relative;
            transition: background-color .3s, color .3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: '';
                width: calc(8 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 50%;
                right: calc(24 / 16 * 1rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform .5s;
            }

            &:after {
                /* right line */
                content: '';
                width: calc(8 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 50%;
                right: calc(21 / 16 * 1rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform .5s;
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition: opacity .3s, padding-bottom .3s;
        }
    }

}
             

/* you can copy and paste this into your global stylesheet to be used everywhere there's a cs-topper in your site */
.cs-topper {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin: 0 0 1rem 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    position: relative;
  }
  .cs-topper .cs-icon {
    width: 100%;
    height: auto;
    display: block;
  }
                                  

                                